<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleIdentifier</key>
	<string>com.dell.Toad.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Toad Help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>16.20</string>
	<key>HPDBookAccessPath</key>
	<string>Default.htm</string>
	<key>HPDBookIconPath</key>
	<string>shrd/toad-mac-32.png</string>
	<key>HPDBookIndexPath</key>
	<string>toad_help.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>Toad</string>
	<key>HPDBookTitle</key>
	<string>Toad Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
