/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NotRuledTableWithHeading_DoNotEdit;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 3;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	mc-hide-bottom-ruling: true;
	cell-padding-top: 3pt;
	cell-padding-bottom: 3pt;
	margin-top: 11pt;
	margin-bottom: 11px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	name: Header1;
	id: 2;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	separator-color: #0078b6;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-NotRuledTableWithHeading_DoNotEdit
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-top: 11pt;
	margin-bottom: 11px;
	border-spacing: 0px 0px;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-Column-Column1
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-Head-Header1
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #0078b6;
	border-bottom-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #0078b6;
	border-bottom-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #0078b6;
	border-bottom-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootI-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootE-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootF-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootH-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootD-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootC-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootB-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootA-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-FootG-Column1- p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-Body-Body1
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyI-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyE-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyF-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyH-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyD-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyC-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyB-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyA-Column1-Body1 p
{
	
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3pt;
	padding-bottom: 3pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NotRuledTableWithHeading_DoNotEdit-BodyG-Column1-Body1 p
{
	
}


