/*<meta />*/

/*
////////////////////////////// CSS LOGIC ///////////////////////////////////
The DMSS Flare project has several topics that explain general CSS
concepts and also the specific rationale in our CSSs. Please review
these topics before editing the CSS. 

This CSS has been partially developed in Flare's CSS Editor
and partially developed by hand. The goal is to keep styles simple,
and to reduce redundancy as much as possible so the CSS is easier
to maintain. 

Be aware that when you edit the CSS in Flare's Editor, it adds
new styles to the end of the CSS. You should periodically review
the CSS to make sure that it is organized and streamlined.

The CSS is broken into the following sections:
   - Main Styles
   - Complex Selectors
   - MadCap Code

About thumbnail images: Flare 5.0 introduced thumbnail images, but when 
users hover over them they are aligned with the right side of the 
help window and they can't scroll to see the full images. This means
that if the image overflows the help window, the user has to expand 
the window to see the whole thing. We decided not to use image thumb-
nails for this reason. If Flare ever corrects this, we should make a
img.Thumbnail style with the thumbnail set to 75px and hover to enlarge.
*/

/* 
////////////////////////////// MAIN STYLES //////////////////////////////////
*/

/* These are the primary styles that writers use, in (mostly)
alphabetical order. */

a:active
{
	color: #0000ff;
}

a:visited
{
	color: #800000;
}

address,
div,
fieldset,
p.Note_KeepWithNext
{
	mc-hidden: hidden;
}

blockquote
{
	margin: 6pt;
	margin-right: 0pt;
	margin-left: 30pt;
	margin-bottom: 6pt;
}

body
{
	font-family: Verdana, sans-serif;
	font-size: 8pt;
}

caption,
col,
colgroup,
table,
tbody,
td,
tfoot,
th,
thead,
tr
{
	font-size: 8pt;
}

/* IE 6 displays table text at the wrong size when the font size
is not specified. When IE 6 is no longer supported, the previous
styles can be removed and tables can inherit the default font size. */

h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: bold;
	color: #326598;
	margin-bottom: 8pt;
}

h1
{
	margin-top: 8pt;
	font-size: 14pt;
}

h2
{
	font-size: 12pt;
}

h3
{
	font-size: 10pt;
}

h4,
h5,
h6
{
	font-size: 8pt;
	mc-hidden: hidden;
}

li,
p
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

p.Note,
p.Note_KeepWithNext,
li.Note
{
	color: #326598;
}

p.Caution
{
	color: #326598;
	mc-next-tag: p;
	mc-next-class: ;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #eeeeee;
	border: solid 1px #c0c0c0;
}

p.IndentedPara
{
	margin-left: 30pt;
}

p.Procedure
{
	font-weight: bold;
	font-style: italic;
	color: #326598;
	margin-top: 10pt;
}

p.RelatedTopics
{
	font-weight: bold;
	color: #326598;
	margin-top: 0;
	mc-next-tag: p;
	mc-next-class: RelatedTopicsLinks;
}

p.RelatedTopicsLinks
{
	
}

/* The p.RelatedTopicsLinks style is necessary so that when
writers press ENTER after p.RelatedTopics, the next line defaults
to a normal paragraph style. Otherwise, it would remain bold and blue.
Flare currently does not have a feature that resets the following
paragraph to a standard <p>, but if it ever does this style can 
be removed. */

p.ScenarioPara
{
	color: #696969;
}

p.ScenarioHeading
{
	font-size: 10pt;
	color: #326598;
	margin-bottom: 8pt;
	margin-top: 0;
	font-weight: bold;
}

p.SingleStep
{
	mc-auto-number-format: '» ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 20px;
	margin-left: 30pt;
	vertical-align: baseline;
}

p.Syntax
{
	font-size: 9pt;
	font-family: 'Courier New';
}

p.TOCProxy
{
	font-size: 18pt;
	mc-hidden: hidden;
}

p.TopicLine
{
	color: #326598;
	margin-top: 9pt;
	margin-bottom: 0;
	border-top-style: Solid;
	border-top-width: 2px;
	mc-next-tag: p;
	mc-next-class: RelatedTopics;
}

pre
{
	font-size: 9pt;
	font-family: 'Courier New';
	mc-hidden: hidden;
}

ol,
ul
{
	margin: 0pt;
	margin-left: 30pt;
}

span.QuestBlue
{
	font-weight: bold;
	color: #326598;
}

span.SyntaxChar
{
	font-size: 9pt;
	font-family: "Courier New", monospace;
}

span.SyntaxCommandChar
{
	font-size: 9pt;
	font-weight: bold;
	font-family: "Courier New", monospace;
}

span.SyntaxVariableChar
{
	font-size: 9pt;
	font-style: italic;
	font-family: "Courier New", monospace;
}

/*
///////////////////////// COMPLEX SELECTORS /////////////////////////
*/

/* Complex selector modify a style when it occurs inside another
style. For example, by default xrefs are black, even inside of
note text. The li.Note and p.Note complex selectors force xrefs
to display as blue inside of these tags. */

li.Note MadCap|xref,
p.Note MadCap|xref,
p.Note_KeepWithNext MadCap|xref
{
	color: #326598;
	mc-hidden: hidden;
}

td p
{
	margin-top: 0;
	margin-bottom: 4pt;
	mc-hidden: hidden;
}

td p.IndentedPara
{
	margin-left: 10pt;
	mc-hidden: hidden;
}

ol ol
{
	list-style-type: lower-alpha;
	mc-hidden: hidden;
}

ol ul
{
	list-style-type: disc;
	mc-hidden: hidden;
}

ul ul
{
	mc-hidden: hidden;
}

/*
//////////////////////////////// MADCAP CODE ///////////////////////////////
*/

/* These styles are generated by Flare to control proxies and other 
features that it directly controls or creates. */

MadCap|dropDown
{
	margin-top: 6pt;
	margin-bottom: 6pt;
}

MadCap|dropDownHead
{
	margin-bottom: 6px;
}

MadCap|dropDownHotspot,
MadCap|toggler
{
	color: #0000ff;
	text-decoration: none;
}

MadCap|indexProxy
{
	border: none;
	border-top-width: 0px;
}

MadCap|xref
{
	mc-format: '{paratext}';
	mc-hidden: hidden;
}

MadCap|xref.SeeWithoutPeriod
{
	text-decoration: none;
	color: #000000;
	mc-format: 'See {color blue}{u}{paratext}{/u}{/color} for more information';
}

MadCap|xref.SeeWithPeriod
{
	text-decoration: none;
	color: #000000;
	mc-format: 'See {color blue}{u}{paratext}{/u}{/color} for more information.';
}

MadCap|xref.SeeOnlineHelp
{
	text-decoration: none;
	color: #000000;
	mc-format: 'See "{paratext}" in the online help for more information.';
}