/* MadCap Table Style: */

mcTableStyle {
	name: Scenario; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #c0c0c0; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #c0c0c0; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #c0c0c0; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #c0c0c0; 
	cell-padding-left: 10px; 
	cell-padding-right: 10px; 
	margin-top: 15px; 
	margin-bottom: 10px; 
	cell-padding-top: 5px; 
	cell-padding-bottom: 5px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
	text-align: left; 
	vertical-align: top; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
	font-weight: normal; 
	font-style: normal; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
	text-align: left; 
	vertical-align: top; 
	background-color: #eeeeee; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: none; 
	separator-width: 1px; 
	separator-color: #000000; 
	text-align: left; 
}

 
 
/* Cell Styles: */
 
/*<meta />*/

.TableStyle_Scenario
{
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	margin-top: 15px;
	margin-bottom: 10px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 5px 10px 5px 10px;
}

.TableStyle_Scenario_Head_0_0
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Head_0_0 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_RowSep_ColSep
{
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Head_0_0_RowSep_ColSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_RowSep
{
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Head_0_0_RowSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_ColSep
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Head_0_0_ColSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_RowSep_ColEnd
{
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Head_0_0_RowSep_ColEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_RowEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Head_0_0_RowEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_RowEnd_ColSep
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Head_0_0_RowEnd_ColSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Head_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Head_0_0_ColEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Head_0_0_ColEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Scenario_Body_0_0
{
	font-weight: normal;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_RowSep
{
	font-weight: normal;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_ColSep
{
	font-weight: normal;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_RowEnd
{
	font-weight: normal;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Scenario_Body_0_0_ColEnd
{
	font-weight: normal;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Scenario_Foot_0_0
{
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Foot_0_0 p
{
	
}

.TableStyle_Scenario_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Scenario_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Foot_0_0_RowSep p
{
	
}

.TableStyle_Scenario_Foot_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Foot_0_0_ColSep p
{
	
}

.TableStyle_Scenario_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Scenario_Foot_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Scenario_Foot_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle_Scenario_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Scenario_Foot_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Scenario_Foot_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle_Scenario_Foot_0_0_ColEnd p
{
	
}


